In [68]:
import numpy as np
import pandas as pd
import os, glob

In [69]:
loans = pd.DataFrame()

dirname = os.path.abspath('')
path = os.path.join(dirname, 'data')
all_files = glob.glob(os.path.join(path , "*.gz"))
for filename in all_files:
    df = pd.read_csv(filename, compression='gzip')
    quarterName = os.path.basename(filename).split('.', 1)[0]
    year = quarterName[0:4]
    quarter = quarterName[5:]
    df['year'] = year
    df['quarter'] = quarter
    loans = pd.concat([loans,df])

loans.sample(10)

,id,funded_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,loan_status,...,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,total_bc_limit,revol_bal_joint,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,year,quarter
4811,79035063,30000,60 months,11.99%,667.19,Chief Estimator,10+ years,MORTGAGE,75000.0,Current,...,75.0,0,29468,18000,NaN,NaN,NaN,NaN,2016,2
25562,72704691,10000,36 months,9.75%,321.50,NaN,NaN,OWN,27000.0,Current,...,57.1,1,11232,11500,NaN,NaN,NaN,NaN,2016,1
33790,96508875,11975,60 months,13.99%,278.58,Owner,10+ years,RENT,100000.0,Current,...,33.3,1,21147,25200,NaN,NaN,NaN,NaN,2017,1
26433,102466753,9000,36 months,11.44%,296.53,Manager,4 years,RENT,103000.0,Fully Paid,...,0.0,0,30118,59200,NaN,NaN,NaN,NaN,2017,1
33159,123881941,11200,60 months,13.59%,258.23,operation manager,7 years,MORTGAGE,75000.0,Current,...,42.9,0,39610,9800,NaN,NaN,NaN,NaN,2017,4
7634,112057039,30400,60 months,9.44%,637.57,Teacher,10+ years,MORTGAGE,98000.0,Current,...,33.3,0,104854,26600,NaN,NaN,NaN,NaN,2017,2
47786,126061076,20000,36 months,14.08%,684.33,NaN,NaN,OWN,12000.0,Current,...,20.0,0,19926,11900,35115.0,659.0,Oct-99,1.0,2017,4
8162,79491119,3500,36 months,7.39%,108.70,NaN,NaN,RENT,46000.0,Current,...,0.0,0,3174,6100,NaN,NaN,NaN,NaN,2016,2
47046,77554886,20000,36 months,15.31%,696.35,Food Service Manager,2 years,RENT,55000.0,In Grace Period,...,33.3,0,37228,22100,NaN,NaN,NaN,NaN,2016,2
24319,108771751,10500,36 months,14.08%,359.28,NaN,8 years,RENT,75000.0,Current,...,71.4,0,20699,29100,NaN,NaN,NaN,NaN,2017,2